@model WebAuction.ViewModels.ChangeLot
@{
    ViewData["Title"] = "CreateLot";
}

<h2>Lot</h2>

<form asp-controller="Lot" asp-action="AddOrChangeLot" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly" class="list-errors offset-6"></div>
    <div class="form-row">
        <div class="form-group col-md-3 offset-6">
            <label>Name</label>
            <input asp-for="NameLot" type="text" class="form-control" placeholder="Name">
            <span asp-validation-for="NameLot" style="color:red"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Quantity</label>
            <input asp-for="Quantity" type="number" class="form-control" placeholder="Quantity">
            <span asp-validation-for="Quantity" style="color:red"></span>
        </div>
    </div>

    <div class="form-group offset-6">
        <label>Description</label>
        <textarea type="text" class="form-control" rows="3"></textarea>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3 offset-6">
            <label>Start price</label>
            <input asp-for="StartPrice" type="number" class="form-control" placeholder="Start price">
            <span asp-validation-for="StartPrice" style="color:red"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Redemtion price</label>
            <input asp-for="RedemptionPrice" type="number" class="form-control" placeholder="Redemtion price">
            <span asp-validation-for="RedemptionPrice" style="color:red"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3 offset-6">
            <label>Date start</label>
            <input asp-for="DateStart" type="datetime-local" class="form-control" placeholder="Date start" value="@ViewData["DateStart"]">
            <span asp-validation-for="DateStart" style="color:red"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Hours in auction</label>
            <input asp-for="Hours" type="number" class="form-control" placeholder="Hours">
            <span asp-validation-for="Hours" style="color:red"></span>
        </div>
    </div>

    <div class="offset-11">
        <input type="submit" class="btn btn-dark offset-5" value="Save" style="width:4vw;" />
    </div>
</form>

<h5 id="MaxBid">@Model.MaxBid</h5>
<div class="form-row">
    <div class="form-inline col-md-2">
        <input type="number" class="form-control col-md-4" id="money" />
        <button type="submit" class="btn btn-dark offset-1" style="width:4vw" onclick="DoBid()">Do Bid</button>

    </div>
    @*<input type="button" class="btn btn-dark offset-1" value="Sell" style="width:4vw" />*@
</div>


<script>
    function DoBid() {
        var money = parseFloat($("#money").val());
        if (money >= parseFloat('@Model.StartPrice')) {
                if (money > parseFloat(0)) {
                    $.ajax({
                        url: '@Url.Action("DoBid", "Lot")',
                        type: "POST",
                        data: "sum=" + $("#money").val(),
                        success: function (response) {
                            if (response == '-1')
                                alert('Недостаточно средст на счёте');
                            else
                                if (response == '-2')
                                    alert('Ставка слишком мала');
                                else {
                                    var val = response.split(' ');
                                    $("#MaxBid").text(val[0]);
                                    $("#ScoreProfile").empty();
                                    $("#ScoreProfile").append("<h5>" + val[1] + " $ </h5>");
                                }
                        }
                    });
                }
                else
                    alert('Введите положительную сумму');
        }
        else
            alert('Ставка слишком мала');
    }
</script>

@*<script>
        function AddCash() {
            if (parseFloat($("#money").val()) > 0.0) {
                $.ajax({
                    url: '@Url.Action("AddCash", "Profile")',
                    type: "POST",
                    data: "sum=" + $("#money").val(),
                    success: function (response) {
                        $("#results").empty();
                        $("#results").append("<h5>" + response + " $</h5>");
                        if ('@Model.Nickname' == '@User.Identity.Name') {
                            $("#ScoreProfile").empty();
                            $("#ScoreProfile").append("<h5>" + response + " $ </h5>");
                        }
                    }
                });
            }
        }
    </script>*@