@model IEnumerable<WebAuction.Models.Bid>
@{
    ViewData["Title"] = "Bids";
}
<!DOCTYPE html>

@*<html>
<head>
    <title>List of bids</title>
</head>
<body>
    <h3>Bids</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nickname</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nickname</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-controller="Profile" asp-action="ChangeProfile" asp-route-id="@user.Id" method="get">
                            <button type="submit">!</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>*@