@model IEnumerable<WebAuction.ViewModels.TableLot>
@{
    ViewData["Title"] = "Аукцион";
}
<!DOCTYPE html>

<html>
<head>
    <title>Аукцион</title>
</head>
<body>
    <div class="d-flex justify-content-end offset-4">
        <form asp-controller="Lot" asp-action="AddOrChangeLot" class="col-1">
            <button class="btn btn-dark" type="submit">New lot</button>
        </form>
    </div>

    <h3>Lots</h3>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="view-all-lots">
        <label class="form-check-label">View all lots</label>
    </div>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">MaxBid</th>
                <th scope="col">HostBid</th>
                <th scope="col">RedemptionPrice</th>
                <th scope="col">HostLot</th>
                <th scope="col">DateEnd</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="body-table">
            @foreach (var lot in Model)
            {
                <tr>
                    <td>@lot.Id</td>
                    <td>@lot.NameLot</td>
                    <td>@lot.MaxBid</td>
                    <td>@lot.HostBid</td>
                    <td>@lot.RedemptionPrice</td>
                    <td>@lot.HostLot</td>
                    <td>@lot.DateEnd</td>
                    <td>
                        <a href="/Lot/AddOrChangeLot/@lot.Id/">!</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            setInterval(function () {
                var status = $('#view-all-lots').is(":checked");
                $.ajax({
                    url: '@Url.Action("Refresh", "Home")',
                    type: "GET",
                    data: "str=" + status,
                    success: function (response) {
                        response = JSON.parse(response);
                        $("#body-table").empty();
                        for (var i = 0; i < response.length; i++) {
                            console.log(response[i]);
                            $("#body-table").append("<tr>");
                            $("#body-table").append("<td>" + response[i].Id + "</td>");
                            $("#body-table").append("<td>" + response[i].NameLot + "</td>");
                            $("#body-table").append("<td>" + response[i].MaxBid + "</td>");
                            if (response[i].HostBid == null)
                                response[i].HostBid = "";
                            $("#body-table").append("<td>" + response[i].HostBid + "</td>");
                            $("#body-table").append("<td>" + response[i].RedemptionPrice + "</td>");
                            $("#body-table").append("<td>" + response[i].HostLot + "</td>");
                            $("#body-table").append("<td>" + response[i].DateEnd + "</td>");
                            $("#body-table").append("<td><a href=\"/Lot/AddOrChangeLot/" + response[i].Id + "/\">!</a></td>");
                            $("#body-table").append("</tr>");
                        }
                    }
                });
            }, 60000);
        });
    </script>
</body>
</html>