@model IEnumerable<WebAuction.Models.Lot>
@{
    ViewData["Title"] = "Аукцион";
}
<!DOCTYPE html>

<html>
<head>
    <title>Аукцион</title>
</head>
<body>
    <div class="d-flex justify-content-end offset-4">
        <form asp-controller="Lot" asp-action="AddOrChangeLot" class="col-1">
            <button class="btn btn-dark" type="submit">New lot</button>
        </form>
    </div>

    <h3>Lots</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">StartPrice</th>
                <th scope="col">RedemptionPrice</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="body-table">
            @foreach (var lot in Model)
            {
            <tr>
                <td>@lot.Id</td>
                <td>@lot.NameLot</td>
                <td>@lot.StartPrice</td>
                <td>@lot.RedemptionPrice</td>
                <td>@lot.Status</td>
                <td>
                    <a href="/Lot/AddOrChangeLot/@lot.Id/">!</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <input type="submit" class="btn btn-dark ml-3" value="Refresh" style="width:4vw; left:10%" onclick="Refresh()" />
        <script>
            $(document).ready(function () {
                setInterval(function () {
                    $.ajax({
                        url: '@Url.Action("Refresh", "Home")',
                        type: "GET",
                        success: function (response) {
                            response = JSON.parse(response);
                            $("#body-table").empty();
                            for (var i = 0; i < response.length; i++) {
                                console.log(response[i]);
                                $("#body-table").append("<tr>");
                                $("#body-table").append("<td>" + response[i].Id + "</td>");
                                $("#body-table").append("<td>" + response[i].NameLot + "</td>");
                                $("#body-table").append("<td>" + response[i].StartPrice + "</td>");
                                $("#body-table").append("<td>" + response[i].RedemptionPrice + "</td>");
                                $("#body-table").append("<td>" + response[i].Status + "</td>");
                                $("#body-table").append("<td><a href=\"/Lot/AddOrChangeLot/" + response[i].Id + "/\">!</a></td>");
                                $("#body-table").append("</tr>");
                            }
                        }
                    });
                }, 60000);
            });
      </script>
</body>
</html>