@model IEnumerable<WebAuction.Models.Lot>
@{
    ViewData["Title"] = "Аукцион";
}
<!DOCTYPE html>

<html>
<head>
    <title>Аукцион</title>
</head>
<body>
    <div class="d-flex justify-content-end offset-4">
        <form asp-controller="Lot" asp-action="AddOrChangeLot" class="col-1">
            <button class="btn btn-dark" type="submit">New lot</button>
        </form>
    </div>

    <h3>Lots</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">StartPrice</th>
                <th scope="col">RedemptionPrice</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lot in Model)
            {
                <tr>
                    <td>@lot.Id</td>
                    <td>@lot.NameLot</td>
                    <td>@lot.StartPrice</td>
                    <td>@lot.RedemptionPrice</td>
                    <td>@lot.Status</td>
                    <td>
                        <form asp-controller="Lot" asp-action="AddOrChangeLot" asp-route-id="@lot.Id" method="get">
                            <button type="submit">!</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>