@model IEnumerable<WebAuction.ViewModels.TableLot>
@{
    ViewData["Title"] = "Аукцион";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<!DOCTYPE html>

<html>
<head>
    <title>Аукцион</title>
</head>
<body>
    <div style="position:relative; left:18px;" class="my-2">
        <form asp-controller="Lot" asp-action="AddOrChangeLot" class="col-1 float-right text-right">
            <button class="btn btn-dark float-right" type="submit">@Localizer["NewLot"]</button>
        </form>
    </div>

    <h3>@Localizer["Lots"]</h3>
    @if (User.IsInRole("admin"))
    {
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="view-all-lots" onclick="RefreshTable()">
            <label class="form-check-label">@Localizer["AllLots"]</label>
        </div>
    }
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">@Localizer["Name"]</th>
                <th scope="col">@Localizer["MaxBid"]</th>
                <th scope="col">@Localizer["HostBid"]</th>
                <th scope="col">@Localizer["RedemptionPrice"]</th>
                <th scope="col">@Localizer["HostLot"]</th>
                <th scope="col">@Localizer["DateEnd"]</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="body-table"></tbody>
    </table>

    <script>
        function RefreshTable() {
            var value = $("#valueSearch").val();
            var status = $('#view-all-lots').is(":checked");
            $.ajax({
                url: '@Url.Action("SearchValue", "Home")',
                type: "POST",
                data: { 'value': value, 'status': status },
                success: function (data) {
                    CreateTable(data);
                }
            });
        };

        $("#btnSearch").on("click", RefreshTable);

        function CreateTable(response) {
            response = JSON.parse(response);
            $("#body-table").empty();
            for (var i = 0; i < response.length; i++) {
                $("#body-table").append("<tr>");
                $("#body-table").append("<td>" + response[i].Id + "</td>");
                $("#body-table").append("<td>" + response[i].NameLot + "</td>");
                $("#body-table").append("<td>" + response[i].MaxBid + "</td>");
                if (response[i].HostBid == null)
                    response[i].HostBid = "";
                $("#body-table").append("<td>" + response[i].HostBid + "</td>");
                $("#body-table").append("<td>" + response[i].RedemptionPrice + "</td>");
                $("#body-table").append("<td>" + response[i].HostLot + "</td>");
                $("#body-table").append("<td>" + response[i].DateEnd + "</td>");
                $("#body-table").append("<td><a href=\"/Lot/AddOrChangeLot/" + response[i].Id + "/\">"+ '@Localizer["DoBid"]' + "</a></td>");
                $("#body-table").append("</tr>");
            }
        };

        $(document).ready(function () {
            RefreshTable();
            setInterval(RefreshTable, 30000);
        });

    </script>
</body>
</html>