@model IEnumerable<WebAuction.Models.User>
@{
    ViewData["Title"] = "Users";
}

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>

<html>
<head>
    <title>List of users</title>
</head>
<body>
    <h3>@Localizer["Users"]</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">@Localizer["Nickname"]</th>
                <th scope="col">@Localizer["Name"]</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Nickname</td>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>
                        <form asp-controller="Profile" asp-action="ChangeProfile" asp-route-id="@user.Id" method="get">
                            <button class="btn-dark size-button" type="submit">!</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>