@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
</head>
<body>
    <!--меню-->
    <div style="position:absolute; left:70vw; width:30vw;">
        <span class="greeting">@Localizer["Hello"], @User.Identity.Name</span>
        <form asp-action="Logout" asp-controller="Account" style="position:absolute; left:83.5%; ">
            <button class="btn btn-dark" style="margin:5px">@Localizer["Logout"]</button>
        </form>
    </div>

    <div class="sidebar-menu">
        <h3 id="clock">Clock</h3>
        <ul>
            <li><a asp-controller="Home" asp-action="Lots">@Localizer["Lots"]</a></li>
            <li><a asp-controller="Home" asp-action="Bids">@Localizer["Bids"]</a></li>
            <li><a asp-controller="Profile" asp-action="ChangeProfile">@Localizer["Profile"]</a></li>
            @if (User.IsInRole("admin"))
            {
                <li><a asp-controller="Home" asp-action="Users">@Localizer["Users"]</a></li>
            }
        </ul>
        <div>
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </div>

    <div style="position:absolute; top:5vh; width:100vw">
        <nav class="navbar navbar-dark bg-warning justify-content-between">
            <div class="form-inline offset-2 col-4">
                <input class="form-control mr-sm-2 col-6" type="search" placeholder="@Localizer["Search"]" aria-label="Search" name="SearchValue" id="valueSearch">
                <button class="btn btn-dark" id="btnSearch">@Localizer["Search"]</button>
            </div>
            <div id="ScoreProfile">
                <h5>@Localizer["Money"]: @ViewBag.Score $</h5>
            </div>
        </nav>
    </div>

    <div style="position:absolute; left:18vw; top:11vh; width:81vw">
        @RenderBody()
    </div>

    <script>
        function SetTime() {
            var now = new Date();
            var clock = document.getElementById("clock");
            clock.innerHTML = now.toLocaleTimeString();
        };
        SetTime();
        $(document).ready(setInterval(SetTime, 1000));
    </script>
</body>
</html>
