@model WebAuction.ViewModels.ChangeProfile
@{
    ViewData["Title"] = "ChangeProfile";
}

<div class="form-inline offset-6 my-4">
    <div class="form-inline col-4 offset-3">
        <h5>Score: </h5>
        <div id="results" class="mx-1 ml-1"><h5>@Model.Cash $</h5></div>
    </div>
    <div style="position:relative; left:5px">
        <input type="text" name="name" id="money" min="1" class="form-control ml-4" />
        <input type="submit" class="btn btn-dark ml-3" value="Add" style="width:4vw; left:10%" onclick="AddCash()" />
    </div>
</div>

<form asp-controller="Profile" asp-action="ChangeProfile" asp-anti-forgery="true">
    <div asp-validation-summary="ModelOnly" class="list-errors offset-6"></div>
    <div class="form-row">
        <div class="form-group col-md-3 offset-6">
            <label>Nickname</label>
            <input asp-for="Nickname" class="form-control">
            <span asp-validation-for="Nickname" style="color:red"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Name user</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3 offset-6">
            <label>Email</label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" style="color:red"></span>
        </div>
        <div class="form-group col-md-3">
            <label>Password</label>
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password" style="color:red"></span>
        </div>
    </div>

    <div class="offset-11">
        <input type="submit" class="btn btn-dark offset-5 mt" value="Save" style="width:4vw;" />
    </div>
</form>

<div class="form-row mt-5">
    <div class="form-group col-md-5">
        <h5>Purchased Lots</h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">DateEnd</th>
                    <th scope="col">Sum</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(var lot in Model.PurchasedLots)
                {
                    <tr>
                        <td>@lot.Id</td>
                        <td>@lot.NameLot</td>
                        <td>@lot.DateEnd</td>
                        <td>@lot.StartPrice</td>
                        <td>
                            <form asp-controller="Lot" asp-action="AddOrChangeLot" asp-route-id="@lot.Id" method="get">
                                <button type="submit">!</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
         </table>
    </div>
    <div class="form-group col-md-5 offset-2">
        <h5>Sold Lots</h5>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">DateStart</th>
                    <th scope="col">StartPrice</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lot in Model.SoldLots)
                {
                    <tr>
                        <td>@lot.Id</td>
                        <td>@lot.NameLot</td>
                        <td>@lot.DateStart</td>
                        <td>@lot.StartPrice</td>
                        <td>
                            <form asp-controller="Lot" asp-action="AddOrChangeLot" asp-route-id="@lot.Id" method="get">
                                <button type="submit">!</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function AddCash() {
        if (parseFloat($("#money").val()) > 0.0) {
            $.ajax({
                url: '@Url.Action("AddCash", "Profile")',
                type: "POST",
                data: "sum=" + $("#money").val(),
                success: function (response) {
                    $("#results").empty();
                    $("#results").append("<h5>" + response + " $</h5>");
                    if ('@Model.Nickname' == '@User.Identity.Name') {
                        $("#ScoreProfile").empty();
                        $("#ScoreProfile").append("<h5>" + response + " $ </h5>");
                    }
                }
            });
        }
    }
</script>